@import "../../styles.scss";

.header-fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo-fitpal {
    width: 18%;
    height: auto;
    display: block;
    margin: 0;
    float: left;

    /*@media screen and (max-width: $mobile) {
        width: 25%;
    }*/
}

.contain-dahsboard {
    width: 100%;
    padding-top: 65px;

    /*@media screen and (max-width: $mobile) {
        padding-top: 57px;
    }*/
}
