<table>
    <thead>
    <tr>
        <th>Cantidad</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let _cash of currentCash.cash">
        <td>{{_cash.units}}</td>
        <td>{{_cash.money.value}}</td>
    </tr>
    </tbody>
</table>
<h1>
    Balance Actual:{{currentCash.total_cash}}

    <div class="container-view">
        Acciones
        <button (click)="newBaseModal()">Crear base</button>
        <button (click)="emptyBox()">Vaciar Caja</button>
    </div>

</h1>
<hr>
<div>
    <p> Nuevo Pago</p>
    <input type="text" [(ngModel)]="paymentName" (keyup)="relay=null;" placeholder="Descripcion compra">
    <input type="number" [(ngModel)]="cost" placeholder="Valor">

    <button [disabled]="!paymentName" (click)="newPaymentModal()"> Pagar</button>
</div>

<div *ngIf="relay">
    <hr>
    <h2>Entrege las vueltas al cliente</h2>
    <table>
        <thead>
        <tr>
            <th>Valor</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let _cashRelay of relay">
            <td>{{_cashRelay.money.value}}</td>
            <td>{{_cashRelay.units}}</td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<div>
    Lista de monedas disponibles
    <table>
        <thead>
        <tr>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let _money of moneyList">
            <td>{{_money.value}}</td>
        </tr>
        </tbody>
    </table>
</div>


<p-dialog header="Nuevo Pago" [(visible)]="paymentModal" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <table>
                <thead>
                <tr>
                    <th>Valor</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let _money of moneyList">
                    <td>{{_money.value}}</td>
                    <td>
                        <input type="number" (change)="changeValue(_money,$event.target.value)">
                    </td>
                </tr>
                </tbody>
            </table>
            Total Efectivo: {{total}}
        </div>
    </div>
    <p-footer>
        <button (click)="registerPayment()" [disabled]="total==0" class="primary-button-pop">Pagar</button>
        <button (click)="paymentModal=false;" class="secundary-button-pop">Cancelar</button>
    </p-footer>
</p-dialog>


<p-dialog header="Nuevo Base" [(visible)]="baseModal" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <table>
                <thead>
                <tr>
                    <th>Valor</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let _money of moneyList">
                    <td>{{_money.value}}</td>
                    <td>
                        <input type="number" (change)="changeValueBase(_money,$event.target.value)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p-footer>
        <button (click)="cashRegisterBase()" [disabled]="newBaseList.length==0" class="primary-button-pop">Ingresar
            base
        </button>
        <button (click)="baseModal=false;" class="secundary-button-pop">Cancelar</button>
    </p-footer>
</p-dialog>
